main{
    padding: 10px;
    .name {
        color:white;
        background-color: black;
        text-align: right;
        font-family: fantasy;
        margin-top: 0;
        font-size: x-large;
        padding: 10px;

}   
    img{
    width: 100%;}}

.main2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    background-color: black;
  

    img{
        width: 250px;
        height: 250px;
        ;
    }
    div.manga{
        display: flex;
        flex-direction: column;
        text-align: center;  
        border: white 2px double;

    }
}