nav{
    width: 95%;
    height: 50%;
    display: flex;
    margin:auto;
    border: double white 5px;
    border-radius: 20px;
    padding: 10px;

    a{
        width: 20%;
        height: 20%;
        margin: auto;
        text-align: center;
        color: black;
        background-color: white;
        border: black double 3px;
        border-radius: 25px;
        text-decoration: none;

    }
    img{
        width: 10% ;
        margin: auto;
        border: 3px white double;
        border-radius: 25%;
        filter: grayscale(50%);
    }
}
