@media screen and (max-width: 1200px){
    nav {
        background-color: black;
    }
}
@media screen and(max-width: 900px){
    nav {
        background-color: blue;
    }
}
@media screen and(max-width: 600px){
    nav {
        background-color: red;
    }
}
@media screen and(max-width: 400px){
    nav {
        background-color: green;
    }
}